<h1>Welcome</h1>
<p> Login success</p>
<p>Trang cá nhân của
    <%= name %>
</p>
<p>Id và email của
    <%= name %> lần lượt là
        <%= studentID %> và
            <%= email %>
</p>
<a href="/users/logout"> Logout</a>